VBox {
    -fx-pref-height: 300;
    -fx-pref-width: 600;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-radius: 20;
}

HBox {
    -fx-pref-height: 50;
    -fx-alignment: center;
    -fx-spacing: 20;
}
