.welcome-anchor {
    -fx-pref-width: 700;
    -fx-pref-height: 500;
    -fx-background-image: url("../images/boa3d_op.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

.title-label {
    -fx-font-size: 40.0;
    -fx-font-weight: bold;
}

.player-label {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: white;
}

.swap-button {
    -fx-background-image: url("../images/swap.png");
    -fx-background-size: 60 60;
    -fx-background-position: center;
    -fx-background-insets: 0;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(one-pass-box, #422800, 0, 0, 4, 4);
}

.swap-button:hover {
    -fx-background-color: lightgrey;
}

.stone {
    -fx-image: url("../images/stone.png");
}