.welcomeAnchor {
    -fx-background-image: url("../brique/images/boa3d_op.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 300 300;
    -fx-background-size: contain;
}

.titleLabel {
    -fx-font-size: 40.0;
    -fx-font-weight: bold;
}

.playerLabel {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: white;
}

.swapButton {
    -fx-background-image: url("../brique/images/swap.png");
    -fx-background-size: 55 55;
    -fx-background-position: center;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-radius: 30;
    -fx-border-radius: 50;
}

.swapButton:hover {
    -fx-background-color: lightgrey;
}

.stone {
    -fx-image: url("../brique/images/stone.png");
}