.titleLabel {
    -fx-font-size: 40.0;
    -fx-font-weight: bold;
}

.playerLabel {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: white;
}

.swapButton {
    -fx-background-image: url("../brique/images/swap.png");
    -fx-background-size: 50 50;
    -fx-background-position: center;
    -fx-pref-width: 55;
    -fx-pref-height: 55;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 50;
}

.swapButton:hover {
    -fx-background-color: lightgrey;
}

.stone {
    -fx-image: url("../brique/images/stone.png");
}