Button {
    -fx-pref-width: 200;
    -fx-background-color: goldenrod;
    -fx-background-radius: 50;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: #422800;
    -fx-border-radius: 50;
    -fx-font-weight: 600;
    -fx-font-size: 18;
    -fx-text-alignment: center;
    -fx-padding: 0 18;
    -fx-effect: dropshadow(one-pass-box, #422800, 0, 0, 4, 4);
}

Button:hover {
    -fx-background-color: gold;
}

Label {
    -fx-font-size: 20 Verdana;
    -fx-text-fill: black;
}