#player_wrapper {
    -fx-padding: 20;
    -fx-spacing: 30;
    -fx-background-color: rgba(0,0,0,0.3);
}


#player_one_wrapper, #player_two_wrapper {
    -fx-spacing: 8;
}

Text {
    -fx-font: 20 Verdana;
    -fx-font-weight: bold;
    -fx-underline: true;
    /*-fx-highlight-text-fill: true;*/
    -fx-fill: black;
}

#player_one_nickname, #player_two_nickname {
    -fx-font-weight: 500;
    -fx-underline: false;
    -fx-font-size: 15;
}

.activePlayer {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.4), 10, 1, 0, 0);
}

GraphicBoard > * {
    -fx-stroke: black;
    -fx-stroke-width: 0.2;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    -fx-border-style: solid;
}
GraphicStone {
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
    -fx-effect: dropshadow(one-pass-box, black,0,1,0,2)
}